
@{
    ViewBag.Title = "Careers";
}

<section>
    <div class="col-lg-10 offset-lg-1">
       
        <!-- features-area start -->
        <div class="promotion-area pt-80 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4">
                        <div class="cta-img">
                            <img src="/assets/imgs/career.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8">
                        <div class="promotion-text promo-2">
                            <h3>
                                Careers
                            </h3>
                            <P>
                                We are always on the lookout for dedicated professionals who are willing to help
                                us spread the good word and do good work for Good Bricks. If you are interested
                                in the work we do, drop a message mentioning how you would like to help us out
                                and we will reach out to you.
                            </P>
                            <a href="/contactus" class="btn brand-btn btn-2">JOIN US</a>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- features-area end -->
    </div>
</section>




