
@{
    ViewBag.Title = "Consultation";
}

<section>
    <div class="col-lg-10 offset-lg-1">

        <!-- features-area start -->
        <div class="promotion-area pt-80 pb-50">
            <div class="container ">
                <div class="row ">
                    <div class="col-xl-4 col-lg-4">
                        <div class="cta-img">
                            <img src="/assets/imgs/counsulting.jpg" alt="">
                        </div>
                    </div>

                    <div class="col-xl-8 col-lg-8">
                        <div class="promotion-text promo-2">
                            <h3>
                                Consultation
                            </h3>
                            <P>
                                CSMB is an alternate construction material. Building with CSMB requires
                                knowledge and understanding of the material. Most engineers and architects who
                                work with such alternate materials are well versed with CSMB.
                            </P>
                            <p>
                                However, if doubts still persist, we are more than happy to consult on the uses and
                                applications of Good Bricks. Good Bricks are versatile and can be used in a variety
                                of applications. We can help you understand the material better so that you can
                                build better.
                            </p>
                            <p>
                                Moreover, Good Brick Company works very closely with Miranmayee Consultants,
                                who are a leading name in the alternative construction space. Also, leading
                                architects who regularly deal with alternative building techniques, have
                                recommended Good Bricks for construction. Hence, you can be rest assured that
                                our counsel is worth its weight.
                            </p>
                            <a href="/contactus" class="btn brand-btn btn-2">CONSULT WITH US</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- features-area end -->

    </div>
</section>

