
@{
    ViewBag.Title = "Contact Us";
}

<section>
    <div class="col-lg-10 offset-lg-1">


        <!-- blog-area start -->
        <div class="contact-area pt-10">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="contact-form ">
                            <h3>Do you have any question?</h3>
                            <form id="contact-form" action="#" method="POST">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <label> Enquiring as a :</label>
                                        <select name="" id="">
                                            <option>Select an option</option>
                                            <option>Builder</option>
                                            <option>Customer</option>
                                            <option>Architect</option>
                                            <option>Contractor</option>
                                            <option>Engineer</option>
                                            <option>Student</option>
                                            <option>Organization</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-12">
                                        <input name="name" type="text" placeholder="Name">
                                    </div>
                                    <div class="col-xl-6">
                                        <input name="email" type="email" placeholder="Email">
                                    </div>

                                    <div class="col-xl-6">
                                        <input name="Mobile" type="text" placeholder="Mobile">
                                    </div>
                                    <div class="col-xl-12">
                                        <textarea name="message" id="mesage" cols="30" rows="10" placeholder="Message"></textarea>
                                        <button class="btn brand-btn" type="submit">send message</button>
                                    </div>
                                </div>
                            </form>
                            <p class="ajax-response"></p>
                        </div>
                    </div>

                    <div class="col-lg-1 col-xl-1"></div>

                    <div class="col-xl-5 col-lg-5">
                        <div class="contact-info custom-contact-info">
                            @*<span>CONTACT</span>*@
                            <div class="custom-p  ">
                                <p class="custom-ftr-color" style="font-size:18px;">
                                    Get in touch with us to
                                    make better living spaces
                                    with Good Bricks<br />
                                </p>
                            </div>
                            <p style="font-size:18px;">
                                <a href="tel:+918277789499"><b>+91 82777 89499</b></a><br />
                                <a href="mailto:info@goodbrick.co"><b>info@goodbrick.co</b></a>
                            </p>
                            <div class="brand-border"></div>
                            <div class="footer-icon ">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>


                            <div class="row  pt-50">
                                <div class="cta-img custom-location-img">
                                    <img src="/assets/imgs/location.png" alt="">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="">

                                        <div class="custom-contact-info mt-2 ">

                                            <p style="color:#ad5f26;">

                                                Office and workshop;<br />
                                                105/7, Nandi Village,
                                                Chikkaballapura,
                                                Bengaluru 562101
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>





                            @*<div class="row">
                                <div class="col-xl-12">
                                    <div class="contact-meta mb-40">
                                        <div class="contact-meta-info">
                                            <h5>Phone</h5>
                                            <p class="custom-text-color"><a href="tel:+918277789499">+91 82777 89499</a> </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="contact-meta mb-40">
                                        <div class="contact-meta-info ">
                                            <h5>E-mail</h5>
                                            <p class="custom-text-color"><a href="mailto:info@goodbrick.co ">info@goodbrick.co</a></p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="contact-meta">
                                        <div class="contact-meta-info">
                                            <h5>Address</h5>
                                            <p>
                                                Office and workshop;<br />
                                                105/7, Nandi Village,<br />
                                                Chikkaballapura,<br />
                                                Bengaluru 562101
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog-area end -->


    </div>
</section>


