
@{
    ViewBag.Title = "Gallery";
}


<div class="page-title-area pt-50 pb-50" style="background-image: url(/assets/imgs/page-title.jpg)">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-title text-center">
                    <h1>Gallery</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- portfolio-area start -->
<div class="portfolio-area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title text-center mb-50">
                    <h2>Interview</h2>
                </div>
            </div>
        </div>

        <div class="row grid">
            <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat1 cat5">
                <div class="portfolio-wrapper mb-30">
                    <div class="portfolio-thumb">
                        <img src="/assets/imgs/Image-1.jpeg" alt="">
                    </div>
                    <div class="portfolio-content">
                        <div class="icon"><a class="popup-img" href="/assets/imgs/Image-1.jpeg"><span></span></a></div>

                        <h3>
                            Under-construction walk
                            through
                        </h3>

                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat2 cat5">
                <div class="portfolio-wrapper mb-30">
                    <div class="portfolio-thumb">
                        <img src="/assets/imgs/Image-1.jpeg" alt="">
                    </div>
                    <div class="portfolio-content">
                        <div class="icon"><a class="popup-img" href="/assets/imgs/Image-1.jpeg"><span></span></a></div>
                        <h3>
                            Under-construction walk
                            through
                        </h3>

                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat1 cat4 cat6">
                <div class="portfolio-wrapper mb-30">
                    <div class="portfolio-thumb">
                        <img src="/assets/imgs/Image-1.jpeg" alt="">
                    </div>
                    <div class="portfolio-content">
                        <div class="icon"><a class="popup-img" href="/assets/imgs/Image-1.jpeg"><span></span></a></div>
                        <h3>
                            Under-construction walk
                            through
                        </h3>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- portfolio-area end -->
<!-- portfolio-area start -->
<div class="portfolio-area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title text-center mb-50">
                    <h2>Onsite</h2>
                </div>
            </div>
        </div>

        <div class="row grid">
            <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat1 cat5">
                <div class="portfolio-wrapper mb-30">
                    <div class="portfolio-thumb">
                        <img src="/assets/imgs/Image-1.jpeg" alt="">
                    </div>
                    <div class="portfolio-content">
                        <div class="icon"><a class="popup-img" href="/assets/imgs/Image-1.jpeg"><span></span></a></div>

                        <h3>
                            Under-construction walk
                            through
                        </h3>

                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat2 cat5">
                <div class="portfolio-wrapper mb-30">
                    <div class="portfolio-thumb">
                        <img src="/assets/imgs/Image-1.jpeg" alt="">
                    </div>
                    <div class="portfolio-content">
                        <div class="icon"><a class="popup-img" href="/assets/imgs/Image-1.jpeg"><span></span></a></div>
                        <h3>
                            Under-construction walk
                            through
                        </h3>

                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat1 cat4 cat6">
                <div class="portfolio-wrapper mb-30">
                    <div class="portfolio-thumb">
                        <img src="/assets/imgs/Image-1.jpeg" alt="">
                    </div>
                    <div class="portfolio-content">
                        <div class="icon"><a class="popup-img" href="/assets/imgs/Image-1.jpeg"><span></span></a></div>
                        <h3>
                            Under-construction walk
                            through
                        </h3>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- portfolio-area end -->