
@{
    ViewBag.Title = "Home";
}
<!-- slider start -->
<div class="slider-area">
    <div class="slider-active dot-style">
        <div class="single-slider slider-height d-flex align-items-center custom-mobile-slider" style="background-image:url(/assets/imgs/slider-2.jpg)">
            <div class="container">
                <div class="row ">
                    <div class="col-xl-7 col-lg-7 d-flex align-items-center">
                        <div class="slider-content custom-mobile custom-h2">

                            <h2 data-animation="fadeInLeft" data-delay="1s">
                                <b>
                                    India’s first commercial manufacturer of Compressed
                                    Stabilized Mud Blocks (CSMB)!
                                </b>
                            </h2>
                            <p data-animation="fadeInLeft" data-delay="1.5s">
                                <b>
                                    Good Bricks offer superior strength and reliability for your
                                    construction. A sustainable alternative to the traditional kiln
                                    fired bricks, our bricks makes your building energy efficient
                                    while reducing the costs of construction and maintenance.
                                    Make the right choice for your construction project!
                                </b>
                            </p>

                            @*<span data-animation="fadeInLeft" data-delay=".5s">Welcome to</span>
                                <h1 data-animation="fadeInLeft" data-delay="1s">Good Brick Company</h1>
                                <p data-animation="fadeInLeft" data-delay="1.5s">Lorem ipsum dolor sit amet, consectetur adipiscing elit Nullam convallis.</p>*@

                        </div>
                    </div>
                    @*<div class="col-xl-4 col-lg-4 d-none d-lg-block">
                            <div class="slide-img text-right" data-animation="fadeInRight" data-delay="2.5s">
                                <img src="/assets/imgs/transparent-slide.png" alt="" style="height:500px; width:auto;">
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
        @*<div class="single-slider slider-height d-flex align-items-center" style="background-image:url(/assets/img/slider/slide1.jpg)">
                <div class="container">
                    <div class="row ">
                        <div class="col-xl-6 col-lg-7 d-flex align-items-center">
                            <div class="slider-content">
                                <span data-animation="fadeInLeft" data-delay=".5s">We are startup business</span>
                                <h1 data-animation="fadeInLeft" data-delay="1s">BUILDING WORLD TOGETHER</h1>
                                <p data-animation="fadeInLeft" data-delay="1.5s">Lorem ipsum dolor sit amet, consectetur adipiscing elit Nullam convallis.</p>
                                <a data-animation="fadeInLeft" data-delay="2s" href="#" class="btn">purchase theme</a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 d-none d-lg-block">
                            <div class="slide-img text-right" data-animation="fadeInRight" data-delay="2.5s">
                                <img src="/assets/img/slider/transparent-slide.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

    </div>
</div>
<!-- slider end -->

<!-- testimonial-area start -->
<div class="testimonial-area pt-100 pb-80 col-lg-10 offset-lg-1">
    <div class="container ">
        <div class="col-xl-10">
            @*<div class="section-title text-center mb-70">
                <h2>GOOD FOR YOU</h2>
            </div>*@
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6">

                <div class="cta-img custom-cta-img">
                    <img src="/assets/imgs/good-for-you.png" alt="">
                </div>
            </div>
            <div class="col-xl-5 col-lg-5">
                <div class="our-mission">

                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Regulates Temperature
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Improves Air Quality
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Reduces Construction Costs
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    Good Bricks can be used in the
                                    construction of load bearing masonry
                                    buildings without RC columns with G+2
                                    floors and above (ref: IS 1905 : 1987 -
                                    reaffirmed 2002).
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Reduces Maintenance Costs
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Increased Durability
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-100 hide-mobile "></div>
        <div class="row  hide-mobile">
            <div class="col-xl-5 col-lg-5">
                <div class="our-mission custom-margin">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingSix">
                                <h5 class="mb-0">
                                    <button class="btn-link " data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                        Reduces Carbon footprint
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header " id="headingSeven">
                                <h5 class="mb-0">
                                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        Reduces Energy Consumption
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingEight">
                                <h5 class="mb-0">
                                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                        Circular Lifecycle
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingNine">
                                <h5 class="mb-0">
                                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                        Uses Recycled Material
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-1"></div>*@
            <div class="col-xl-5 col-lg-5">
                <div class="cta-img custom-img">
                    <img src="/assets/imgs/good-for-earth.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial-area end -->

<!--mobile view-->
<!-- testimonial-area start -->
<div class="testimonial-area pt-80 pb-80 d-block d-lg-none">
    <div class="container">
        <div class="col-xl-12">
            @*<div class="section-title text-center mb-70">
                    <h2>GOOD FOR THE EARTH</h2>
                </div>*@
        </div>
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="cta-img">
                    <img src="/assets/imgs/good-for-earth.png" alt="">
                </div>
            </div>
            <div class="col-xl-7 col-lg-7">
                <div class="our-mission">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingTen">
                                <h5 class="mb-0">
                                    <button class="btn-link " data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                                        Reduces Carbon footprint
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header " id="headingEleven">
                                <h5 class="mb-0">
                                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                        Reduces Energy Consumption
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwelve">
                                <h5 class="mb-0">
                                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapTwelve">
                                        Circular Lifecycle
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingThirteen">
                                <h5 class="mb-0">
                                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                        Uses Recycled Material
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- testimonial-area end -->
<!-- brand-boder -->
<div class="promotion-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="brand-border">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- features-area start -->
<div class="features-area pt-100 pb-80 col-lg-10 offset-lg-1 ">
    <div class="container ">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title text-center mb-70">
                    <h2> Available Brick Sizes</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row col-lg-6">
                <div class="row col-xl-6 col-lg-6 col-md-6 ">
                    <div class="single-features text-center custom-single-feature ">
                        <img src="/assets/imgs/9x12x4.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 brick-size-custom-margin">
                    <div class="single-features custom-mobile-text-align mb-30">
                        <h2>9' X 12' X 4'</h2>
                        <p>
                            Best used for exterior
                            and load bearing walls
                        </p>
                    </div>
                </div>
            </div>

            <div class="row col-lg-6">
                <div class="row col-xl-6 col-lg-6 col-md-6">
                    <div class="single-features text-center custom-single-feature ">
                        <img src="/assets/imgs/8x12x4.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 brick-size-custom-margin">
                    <div class="single-features custom-mobile-text-align mb-30">
                        <h2>8' X 12' X 4'</h2>
                        <p>
                            Best used for exterior
                            and load bearing walls
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-50">
            <div class="row col-lg-6">
                <div class="row col-xl-6 col-lg-6 col-md-6">
                    <div class="single-features text-center custom-single-feature ">
                        <img src="/assets/imgs/6x12x4.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 brick-size-custom-margin">
                    <div class="single-features custom-mobile-text-align mb-30">
                        <h2>6' X 12' X 4'</h2>
                        <p>
                            Best used for interior,
                            partition and load bearing
                        </p>
                    </div>
                </div>
            </div>

            <div class="row col-lg-6">
                <div class="row col-xl-6 col-lg-6 col-md-6">
                    <div class="single-features text-center custom-single-feature ">
                        <img src="/assets/imgs/4.5x12x4.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 brick-size-custom-margin">
                    <div class="single-features custom-mobile-text-align  mb-30">
                        <h2>4.5' X 12' X 4'</h2>
                        <p>
                            Best used for interior and
                            partition walls
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row pt-50">
            <div class="row col-lg-6">
                <div class="row col-xl-6 col-lg-6 col-md-6">
                    <div class="single-features text-center custom-single-feature ">
                        <img src="/assets/imgs/9x9x3.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 brick-size-custom-margin">
                    <div class="single-features custom-mobile-text-align mb-30">
                        <h2>9' X 9' X 3'</h2>
                        <p>
                            Best used for interior,
                            partition and load bearing
                        </p>
                    </div>
                </div>
            </div>

            <div class="row col-lg-6">
                <div class="row col-xl-6 col-lg-6 col-md-6">
                    <div class="single-features text-center custom-single-feature ">
                        <img src="/assets/imgs/4x12x9.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 brick-size-custom-margin">
                    <div class="single-features custom-mobile-text-align  mb-30">
                        <h2>4' X 12' X 9'</h2>
                        <p>
                            Best used for interior and
                            partition walls
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- features-area end -->
<!-- brand-boder -->
<div class="promotion-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="brand-border">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- features-area start -->
<section>
    <div class="col-lg-8 offset-lg-2">
        <div class="features-area pt-100 pb-80 ">
            <div class="container">


                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-5">
                        <ul class="custom-li">
                            <li style="color:#ac5e26;"><img src="/assets/imgs/icon-1.png" alt="" style="height:70px;">&nbsp;&nbsp;&nbsp;Not Labour Intensive</li>
                            <li style="color:#ac5e26;"><img src="/assets/imgs/icon-2.png" alt="" style="height:70px;">&nbsp;&nbsp;&nbsp;Not Time Intensive</li>
                            <li style="color:#ac5e26;"><img src="/assets/imgs/icon-3.png" alt="" style="height:70px;">&nbsp;&nbsp;&nbsp;Not Cost Sensitive</li>
                            <li style="color:#ac5e26;"><img src="/assets/imgs/icon-4.png" alt="" style="height:70px;">&nbsp;&nbsp;&nbsp;Not Space Consuming</li>
                            <li style="color:#ac5e26;"><img src="/assets/imgs/icon-5.png" alt="" style="height:70px;">&nbsp;&nbsp;&nbsp;No Quality Risks</li>
                        </ul>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-7 ">
                        <div class="single-features  mb-30 mt-20">
                            <p style="font-size:20px;">
                                <b>
                                    Good Brick Company busts the myths of Compressed Stabilized Mud Bricks and brings to you a time tested technology that is steeped in the wisdom and goodness that mother earth has to offer!
                                </b>
                            </p>
                            <br />
                            <p>
                                Setting up a small manufacturing line for bricks, waiting for skilled labour to mix ingredients in the correct proportions, hand press bricks and cure them is labour and time intensive which in turn drives up the cost of the project. Moreover, hand pressing bricks on site invites risks of poor soil quality and lack of standardization. Order any number mud bricks from Good Brick Company and have the bricks delivered on site, ready to use. Build conveniently, with Good Bricks.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- brand-boder -->
<div class="promotion-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="brand-border">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial-area start -->
<div class="testimonial-area pt-100 pb-100  ">
    <div class="container">
        <div class="row pb-30">
            <div class="col-xl-12">
                <div class="section-title text-center mb-70">
                    <h2>Client’s testimonial</h2>
                    @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 offset-xl-3">
                <div class="testimonia-item-active">

                    <div class="testimonial-item text-center">
                        <p>
                            Dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est
                        </p>
                        <div class="designation">
                            <img src="/assets/imgs/testimonial-2.png" alt="">
                            <h3>Arvind Kejriwal</h3>
                            <span>Politician and Activist</span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <p>
                            Dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure
                          
                        </p>
                        <div class="designation">
                            <img src="/assets/imgs/testimonial-2.png" alt="">
                            <h3>Arvind Kejriwal</h3>
                            <span>Politician and Activist</span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <p>
                            Dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                           
                        </p>
                        <div class="designation">
                            <img src="/assets/imgs/testimonial-2.png" alt="">
                            <h3>Arvind Kejriwal</h3>
                            <span>Politician and Activist</span>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        <p>
                            Dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est
                        </p>
                        <div class="designation">
                            <img src="/assets/imgs/testimonial-2.png" alt="">
                            <h3>Arvind Kejriwal</h3>
                            <span>Politician and Activist</span>
                        </div>
                    </div>


                </div>

                <div class="testimonial-nav">
                    <div class="testimonial-thumb">
                        @*<img src="/assets/imgs/testimonial-2.png" alt="">*@
                    </div>
                    <div class="testimonial-thumb">
                        @*<img src="/assets/imgs/testimonial-2.png" alt="">*@
                    </div>
                    <div class="testimonial-thumb">
                        @*<img src="/assets/imgs/testimonial-2.png" alt="">*@
                    </div>
                    <div class="testimonial-thumb">
                        @*<img src="/assets/imgs/testimonial-2.png" alt="">*@
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial-area end -->
