
@{
    ViewBag.Title = "Products";
}

<style>
    .custom-single-feature img {
        margin-left: -8px;
        height: 100px;
    }

    .single-features h2 {
        color: #ac5e26;
        font-size: 20px;
    }

    .single-features > p {
        font-size: 14px;
        line-height: 22px;
    }
</style>


<section> 
    <div class="col-lg-10 offset-lg-1">

        <!-- features-area start -->
        <div class="promotion-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4">
                        <div class="cta-img">
                            <img src="/assets/imgs/product-img.jpg" alt="" style="height:auto; width:361px;">                           
                        </div>
                    </div>

                    <div class="col-xl-1 col-lg-1"></div>
                        <div class="col-xl-6 col-lg-6">
                            <div class=" promo-2 ">
                                @*<h4>
                        India’s first commercial manufacturer of Compressed
                        Stabilized Mud Blocks (CSMB)!
                    </h4>*@
                                <P>
                                    Good Bricks are tested for strength to provide your
                                    structure with unmatched stability and durability. Good
                                    Bricks closely works with Miranmayee Consultants, one
                                    of India’s leading authorities on alternate methods of
                                    construction, to conduct periodic test.
                                </P>
                                <a href="#" class="btn brand-btn btn-2">VIEW SAMPLE TEST RESULT</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <!-- brand-boder -->
        <div class="promotion-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="brand-border">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- features-area start -->
        <div class="promotion-area pt-100 pb-100 ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 custom-padding">
                        <div class="promotion-text promo-2 ">
                            <p>
                                <b>
                                    Good Brick come in varied sizes to
                                    accommodate most kind of constructions.
                                </b><br /><br />
                            </p>
                            <p>
                                <b>
                                    For other needs, we have options of U-core,
                                    pillar blocks, paver blocks and more.
                                </b><br /><br />
                            </p>
                        </div>
                    </div>

                    <div class="col-xl-9 col-lg-9">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="section-title text-center mb-70">
                                    <h2> Available Brick Sizes</h2>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="row col-lg-6">
                                <div class="row col-xl-6 col-lg-6 col-md-6 ">
                                    <div class="single-features text-center custom-single-feature ">
                                        <img src="/assets/imgs/9x12x4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 brick-size-custom-margin">
                                    <div class="single-features custom-mobile-text-align mb-30">
                                        <h2>9' X 12' X 4'</h2>
                                        <p>
                                            Best used for exterior
                                            and load bearing walls
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row col-lg-6">
                                <div class="row col-xl-6 col-lg-6 col-md-6">
                                    <div class="single-features text-center custom-single-feature ">
                                        <img src="/assets/imgs/8x12x4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 brick-size-custom-margin">
                                    <div class="single-features custom-mobile-text-align mb-30">
                                        <h2>8' X 12' X 4'</h2>
                                        <p>
                                            Best used for exterior
                                            and load bearing walls
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row pt-50">
                            <div class="row col-lg-6">
                                <div class="row col-xl-6 col-lg-6 col-md-6">
                                    <div class="single-features text-center custom-single-feature ">
                                        <img src="/assets/imgs/6x12x4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 brick-size-custom-margin">
                                    <div class="single-features custom-mobile-text-align mb-30">
                                        <h2>6' X 12' X 4'</h2>
                                        <p>
                                            Best used for interior,
                                            partition and load bearing
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row col-lg-6">
                                <div class="row col-xl-6 col-lg-6 col-md-6">
                                    <div class="single-features text-center custom-single-feature ">
                                        <img src="/assets/imgs/4.5x12x4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 brick-size-custom-margin">
                                    <div class="single-features custom-mobile-text-align  mb-30">
                                        <h2>4.5' X 12' X 4'</h2>
                                        <p>
                                            Best used for interior and
                                            partition walls
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row pt-50">
                            <div class="row col-lg-6">
                                <div class="row col-xl-6 col-lg-6 col-md-6">
                                    <div class="single-features text-center custom-single-feature ">
                                        <img src="/assets/imgs/9x9x3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 brick-size-custom-margin">
                                    <div class="single-features custom-mobile-text-align mb-30">
                                        <h2>9' X 9' X 3'</h2>
                                        <p>
                                            Best used for interior,
                                            partition and load bearing
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row col-lg-6">
                                <div class="row col-xl-6 col-lg-6 col-md-6">
                                    <div class="single-features text-center custom-single-feature ">
                                        <img src="/assets/imgs/4x12x9.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 brick-size-custom-margin">
                                    <div class="single-features custom-mobile-text-align  mb-30">
                                        <h2>4' X 12' X 9'</h2>
                                        <p>
                                            Best used for interior and
                                            partition walls
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!-- features-area end -->
        <!-- brand-boder -->
        <div class="promotion-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="brand-border">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- page-title-area end -->
        <div class="services-area pt-100 pb-100">
            <div class="container">
                <div class="section-title text-center mb-30">
                    <h2>Customization</h2>
                    @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>*@
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="service-box  text-center">
                            @*<i class="far fa-lightbulb"></i>*@
                            <div class="team-thumb">
                                <img src="/assets/imgs/icon-9.png" alt="">
                            </div>
                            <h3>Variable Colour</h3>
                            <p>
                                Bricks can be made of
                                different colours to suit your
                                aesthetic needs. Organic
                                pigments will be used.
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="service-box  text-center">
                            @*<i class="far fa-comments"></i>*@
                            <div class="team-thumb">
                                <img src="/assets/imgs/icon-10.png" alt="">
                            </div>
                            <h3>Variable Sizes</h3>
                            <p>
                                Bricks can be made to any
                                size of your choice to suit
                                your construction needs.
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="service-box  text-center">
                            @*<i class="far fa-handshake"></i>*@
                            <div class="team-thumb">
                                <img src="/assets/imgs/icon-11.png" alt="">
                            </div>
                            <h3>Variable Purposes</h3>
                            <p>
                                Bricks for different
                                application like U-core, pillar
                                blocks etc can also be made.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- team-area start -->
        <!-- brand-boder -->
        <div class="promotion-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="brand-border">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- features-area start -->
        <div class="promotion-area pt-100 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="service-box text-center">
                            <h4><b>Good Bricks</b></h4>
                            <h5><b>so much more than just a brick!</b></h5>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="service-box">
                            <div class="team-thumb">
                                <div class="row">
                                    <div class="col-xl-2 col-lg-2 col-md-2">
                                        <img src="/assets/imgs/icon-15.png" alt="" style="height:70px;">

                                    </div>
                                    <div class="col-xl-10 col-lg-10 col-md-10">
                                        <h4>Built-in electrical conduits:</h4>
                                        <p>
                                            Good Bricks are designed with pathways for electrical
                                            conduits that are in built. You won’t have to chip away at
                                            the brick during electrical work. Moreover, these pathways
                                            connect to other bricks leading to a seamless network.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="service-box">
                            <div class="team-thumb">
                                <div class="row">
                                    <div class="col-xl-2 col-lg-2 col-md-2">
                                        <img src="/assets/imgs/icon-12.png" alt="" style="height:70px;">
                                    </div>
                                    <div class="col-xl-10 col-lg-10 col-md-10">
                                        <h4>Reduces costs:</h4>
                                        <p>
                                            Good Bricks help reduce the over all construction and
                                            maintenance costs of a building. Not only does it eliminate
                                            costs incurred from hiring specialized labor (which is a
                                            necessity while working with CSMB), it also makes the
                                            building energy efficient.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="service-box">
                            <div class="team-thumb">
                                <div class="row">
                                    <div class="col-xl-2 col-lg-2 col-md-2">
                                        <img src="/assets/imgs/icon-16.png" alt="" style="height:70px;">

                                    </div>
                                    <div class="col-xl-10 col-lg-10 col-md-10">
                                        <h4>Sustainable:</h4>
                                        <p>
                                            Good Bricks are not fired in an oven, hence it consumes
                                            almost no fuel during its manufacturing. Moreover, each
                                            Good Brick helps recycle construction waste and is inherently
                                            insulative, making it a very sustainable alternative to regular
                                            burnt bricks.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="service-box">
                            <div class="team-thumb">
                                <div class="row">
                                    <div class="col-xl-2 col-lg-2 col-md-2">
                                        <img src="/assets/imgs/icon-13.png" alt="" style="height:70px;">

                                    </div>
                                    <div class="col-xl-10 col-lg-10 col-md-10">
                                        <h4>No plastering required:</h4>
                                        <p>
                                            Good Bricks need no plaster, putty or paint. They are ready
                                            to use and can withstand all weather elements. This results
                                            in the reduction in the use of harmful chemicals such as
                                            paints and primers, that are known allergens.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="service-box">
                            <div class="team-thumb">
                                <div class="row">
                                    <div class="col-xl-2 col-lg-2 col-md-2">
                                        <img src="/assets/imgs/icon-17.png" alt="" style="height:70px;">

                                    </div>
                                    <div class="col-xl-10 col-lg-10 col-md-10">
                                        <h4>Aesthetically unique:</h4>
                                        <p>
                                            Good Bricks offer an earthy aesthetic that is difficult to
                                            match. It imbues the construction with a sepia tone that is
                                            soothing and calming. Its blends very well with the
                                            surroundings and gives a pleasing contrast when paired with
                                            natural greens.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="service-box">
                            <div class="team-thumb">
                                <div class="row">
                                    <div class="col-xl-2 col-lg-2 col-md-2">
                                        <img src="/assets/imgs/icon-14.png" alt="" style="height:70px;">

                                    </div>
                                    <div class="col-xl-10 col-lg-10 col-md-10">
                                        <h4>Uses construction waste:</h4>
                                        <p>
                                            Each Good Brick contains upto 20% of construction and
                                            debris waste, thereby recycling a lot of construction
                                            waste that would have otherwise ended up in
                                            overburdened landfills.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="service-box">
                            <div class="team-thumb">
                                <div class="row">
                                    <div class="col-xl-2 col-lg-2 col-md-2">
                                        <img src="/assets/imgs/icon-18.png" alt="" style="height:70px;">

                                    </div>
                                    <div class="col-xl-10 col-lg-10 col-md-10">
                                        <h4>Strong and durable:</h4>
                                        <p>
                                            Good Bricks possess strength and durability that far
                                            exceed a traditional burnt bricks. In fact, the strength of a
                                            Good Brick is much higher than the required standard. This
                                            ensures they can be used in a variety of construction
                                            applications.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</section>