
@{
    ViewBag.Title = "What_are_stabilizedmud_bricks";
}


@*<div class="page-title-area pt-50 pb-50" style="background-image: url(/assets/imgs/page-title.jpg)">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-title text-center">
                        <h1>What are stabilizedmud bricks?</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item">
                                    <a href="/">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">What are stabilizedmud bricks?</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<!--<div class="promotion-area pt-50 pb-50">
    <div class="container">
        <div class="row">-->
            @*<div class="col-xl-6 col-lg-6">
                    <div class="cta-img">
                        <img src="/assets/imgs/image-4.png" alt="">
                    </div>
                </div>*@
            <!--<div class="col-xl-12 col-lg-12">
                <div class="promotion-text promo-2">
                    <h3>
                        What are stabilized
                        mud bricks?
                    </h3>
                    <P>
                        What are stabilized mud bricks? : Simply put, stabilized mud bricks are compressed bricks
                        made from soil and other additives. Unlike regular bricks these are not baked or fired and are
                        compressed to such a level that they possess the strength to be used for any kind of
                        construction. Stabilized mud bricks are not new technology and can be dated back to
                        Egyptian and mesopotamin cultures. These are a more sustainable alternative to regular
                        burnt bricks and lend a unique aesthetic to the construction.
                    </P>-->
                    @*<a href="#" class="btn brand-btn btn-2">SHOP NOW</a>*@
                <!--</div>
            </div>
        </div>
    </div>
</div>

<div class="promotion-area pt-50 pb-50">
    <div class="container">
        <div class="row">

            <div class="">
                <div class="promotion-text promo-2 ">
                    <h3>
                        What are
                        ingredients of
                        stabilized mud
                        bricks?
                    </h3>
                    <P>
                        The exact proportion of the ingredients that go into the making of our bricks is a secret
                        recipe. Nonetheless, a compressed mud brick is made using the following materials:
                    </P>
                    <ul>
                        <li>- Soil</li>
                        <li>- Construction and Debris Waste</li>
                        <li>- M-sand</li>
                        <li>- Limestone</li>
                        <li>- Cement</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="promotion-area pt-50 pb-50 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title text-center mb-70">
                    <h2>
                        How are stabilized
                        mud bricks made?
                    </h2>

                </div>
            </div>
        </div>
        <div class="row pb-60">
            <div class=" col-xl-12 col-lg-12">
                <div class="row">
                    <div class="col-xl-1 col-lg-1">
                        <h4>Step 1:</h4>
                    </div>
                    <div class="col-xl-10 col-lg-10">
                        <p>
                            Locally sourced soil from non agricultural land is brought in and sieved in a
                            sieving machine to remove any big stones or sticks.
                        </p>
                    </div>
                </div>
            </div>
            <div class=" col-xl-12 col-lg-12">
                <div class="row">
                    <div class="col-xl-1 col-lg-1">
                        <h4>Step 2:</h4>
                    </div>
                    <div class="col-xl-10 col-lg-10">
                        <p>
                            To the sieved soil, m-sand, limestone, cement and some quantity of
                            construction debris waste are added in a specific proportion and mixed well
                            with lime water in a pan mixer where combines uniformly.
                        </p>

                    </div>
                </div>
            </div>
            <div class=" col-xl-12 col-lg-12">
                <div class="row">
                    <div class="col-xl-1 col-lg-1">
                        <h4>Step 3:</h4>
                    </div>
                    <div class="col-xl-10 col-lg-10">
                        <p>
                            This mixture is taken from pan mixer and fed to the hopper of a hydraulic
                            press.
                        </p>
                    </div>
                </div>
            </div>
            <div class=" col-xl-12 col-lg-12">
                <div class="row">
                    <div class="col-xl-1 col-lg-1">
                        <h4>Step 4:</h4>
                    </div>
                    <div class="col-xl-10 col-lg-10">
                        <p>
                            The brick is pressed to desired shape and size as per the die.
                        </p>
                    </div>
                </div>
            </div>
            <div class=" col-xl-12 col-lg-12">
                <div class="row">
                    <div class="col-xl-1 col-lg-1">
                        <h4>Step 5:</h4>
                    </div>
                    <div class="col-xl-10 col-lg-10">
                        <p>
                            The bricks are taken off the press and brought into the curing area where
                            they are cured with water for 27 days which imbues them with strength.
                        </p>
                    </div>
                </div>
            </div>
            <div class=" col-xl-12 col-lg-12">
                <div class="row">
                    <div class="col-xl-1 col-lg-1">
                        <h4>Step 6:</h4>
                    </div>
                    <div class="col-xl-10 col-lg-10">
                        <p>
                            Once cured, a few samples from every predetermined batch are sent to an
                            independent lab, where it is tested for moisture content and compressive
                            strength.
                        </p>
                    </div>
                </div>
            </div>
            <div class=" col-xl-12 col-lg-12">
                <div class="row">
                    <div class="col-xl-1 col-lg-1">
                        <h4>Step 7:</h4>
                    </div>
                    <div class="col-xl-10 col-lg-10">
                        <p>
                            Once the batch is cleared for dispatch, the bricks are ready to use.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="promotion-area pt-50 ">
    <div class="container">
        <div class="row">

            <div class="">
                <div class="promotion-text promo-2 ">
                    <h3>
                        Are stabilized mud
                        bricks strong
                        enough?
                    </h3>
                    <P>
                        By its very nature, compressed mud bricks are stronger than the traditional
                        burnt bricks. They have superior wet compressive strength as compared to
                        the burnt bricks. In fact, a Good Brick is twice as strong as a burnt brick. This
                        fact had been vetted by Miranmayee Consultants, who are an independent
                        consultants for alternative construction equipment. The industry experts also
                        vouch for the superior strength and durability of stabilized mud bricks
                    </P>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="promotion-area pt-50 ">
    <div class="container">
        <div class="row">

            <div class="">
                <div class="promotion-text promo-2 ">
                    <h3>
                        How do stabilized
                        mud bricks help
                        reduce cost?
                    </h3>
                    <P>
                        Stabilized mud bricks help bring down the overall construction and
                        maintenance costs of the structure. Using stabilized mud bricks allows one to
                        do away with external plastering and painting. Moreover, since stabilized
                        mud bricks can be customized in size, the structure would require lesser
                        number of bricks, thereby bringing down construction costs. Stabilized mud
                        bricks also regulate temperature and humidity, thereby reducing electricity
                        consumed. In fact, the structure ends up using 60% less energy as compared
                        to standard burnt bricks. Add to that the fact that Good Bricks help you
                        eliminate inventory as well as specialized labor costs and you have a lucrative
                        proposition in hand.
                    </P>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="promotion-area pt-50 bg-light ">
    <div class="container">
        <div class="row">

            <div class="">
                <div class="promotion-text promo-2 ">
                    <h3>
                        How are stabilized
                        mud bricks a more
                        sustainable
                        alternative to
                    </h3>
                    <P>
                        Right from its manufacturing to its end application, stabilized mud bricks are
                        a more sustainable option to traditional burnt bricks. Since, they are not fired
                        energy and firewood dependency for manufacturing them is low. Owing to
                        their inherent adaptive insulation properties, buildings made with stabilized
                        bricks consume less energy, thereby reducing dependence on fossil fuel for
                        heating and cooling. Their composition consists of at least 10%-20% of
                        construction and debris waste which would otherwise have ended up in our
                        already overburdened landfills. Moreover, since there is no requirement of
                        plastering or painting, the structure uses less harmful chemicals to improve
                        aesthetic appeal.
                    </P>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="promotion-area pt-50 bg-light">
    <div class="container">
        <div class="row">

            <div class="">
                <div class="promotion-text promo-2 ">
                    <h3>
                        Why choose
                        stabilized mud
                        bricks?
                    </h3>
                    <P>
                        The real question is, why not? Compressed stabilized mud bricks are a more
                        sustainable alternative to regular burnt bricks. Moreover, they offer superior
                        strength and durability and are versatile enough to be used in any
                        construction. Good Bricks are tested for strength at an independent lab.To
                        add to that they offer a unique aesthetic that give your project more
                        grounded and earthy appeal without the need for harmful and allergy
                        inducing chemicals like paints and plasters. They are good for you and for the
                        environment. So, why wouldn't you choose a stabilized mud brick?
                    </P>

                </div>
            </div>
        </div>
    </div>
</div>-->



<div class="testimonial-area pt-80 pb-50">
    <div class="container col-lg-10">
        @*<div class="col-xl-10">
            <div class="section-title text-center mb-70">
                    <h2>GOOD FOR YOU</h2>
                </div>
        </div>*@
        <div class="row">
            <div class="col-xl-2 col-lg-2">

            </div>
                <div class="col-xl-8 col-lg-8">
                    <div class="our-mission">

                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            What are stabilized
                                            mud bricks?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        What are stabilized mud bricks? : Simply put, stabilized mud bricks are compressed bricks
                                        made from soil and other additives. Unlike regular bricks these are not baked or fired and are
                                        compressed to such a level that they possess the strength to be used for any kind of
                                        construction. Stabilized mud bricks are not new technology and can be dated back to
                                        Egyptian and mesopotamin cultures. These are a more sustainable alternative to regular
                                        burnt bricks and lend a unique aesthetic to the construction.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            What are
                                            ingredients of
                                            stabilized mud
                                            bricks?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        <P>
                                            The exact proportion of the ingredients that go into the making of our bricks is a secret
                                            recipe. Nonetheless, a compressed mud brick is made using the following materials:
                                        </P>
                                        <ul>
                                            <li>- Soil</li>
                                            <li>- Construction and Debris Waste</li>
                                            <li>- M-sand</li>
                                            <li>- Limestone</li>
                                            <li>- Cement</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            How are stabilized
                                            mud bricks made?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row pb-60">
                                            <div class=" col-xl-12 col-lg-12">
                                                <div class="row pt-10">
                                                    <div class="col-xl-2 col-lg-2 custom-wasb-p">
                                                        <p>Step 1:</p>
                                                    </div>
                                                    <div class="col-xl-10 col-lg-10">
                                                        <h6>
                                                            Locally sourced soil from non agricultural land is brought in and sieved in a
                                                            sieving machine to remove any big stones or sticks.<br />
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-xl-12 col-lg-12">
                                                <div class="row pt-10">
                                                    <div class="col-xl-2 col-lg-2 custom-wasb-p">
                                                        <p>Step 2:</p>
                                                    </div>
                                                    <div class="col-xl-10 col-lg-10">
                                                        <h6>
                                                            To the sieved soil, m-sand, limestone, cement and some quantity of
                                                            construction debris waste are added in a specific proportion and mixed well
                                                            with lime water in a pan mixer where combines uniformly.<br />
                                                        </h6>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-xl-12 col-lg-12 ">
                                                <div class="row pt-10">
                                                    <div class="col-xl-2 col-lg-2 custom-wasb-p">
                                                        <p>Step 3:</p>
                                                    </div>
                                                    <div class="col-xl-10 col-lg-10">
                                                        <h6>
                                                            This mixture is taken from pan mixer and fed to the hopper of a hydraulic
                                                            press.<br />
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-xl-12 col-lg-12 ">
                                                <div class="row pt-10">
                                                    <div class="col-xl-2 col-lg-2 custom-wasb-p">
                                                        <p>Step 4:</p>
                                                    </div>
                                                    <div class="col-xl-10 col-lg-10">
                                                        <h6>
                                                            The brick is pressed to desired shape and size as per the die.<br />
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-xl-12 col-lg-12">
                                                <div class="row pt-10">
                                                    <div class="col-xl-2 col-lg-2 custom-wasb-p">
                                                        <p>Step 5:</p>
                                                    </div>
                                                    <div class="col-xl-10 col-lg-10">
                                                        <h6>
                                                            The bricks are taken off the press and brought into the curing area where
                                                            they are cured with water for 27 days which imbues them with strength.<br />
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-xl-12 col-lg-12">
                                                <div class="row pt-10">
                                                    <div class="col-xl-2 col-lg-2 custom-wasb-p">
                                                        <p>Step 6:</p>
                                                    </div>
                                                    <div class="col-xl-10 col-lg-10">
                                                        <h6>
                                                            Once cured, a few samples from every predetermined batch are sent to an
                                                            independent lab, where it is tested for moisture content and compressive
                                                            strength.<br />
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-xl-12 col-lg-12">
                                                <div class="row pt-10">
                                                    <div class="col-xl-2 col-lg-2 custom-wasb-p">
                                                        <p>Step 7:</p>
                                                    </div>
                                                    <div class="col-xl-10 col-lg-10">
                                                        <h6>
                                                            Once the batch is cleared for dispatch, the bricks are ready to use.<br />
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h5 class="mb-0">
                                        <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Are stabilized mud
                                            bricks strong
                                            enough?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                    <div class="card-body">
                                        By its very nature, compressed mud bricks are stronger than the traditional
                                        burnt bricks. They have superior wet compressive strength as compared to
                                        the burnt bricks. In fact, a Good Brick is twice as strong as a burnt brick. This
                                        fact had been vetted by Miranmayee Consultants, who are an independent
                                        consultants for alternative construction equipment. The industry experts also
                                        vouch for the superior strength and durability of stabilized mud bricks
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFive">
                                    <h5 class="mb-0">
                                        <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            How do stabilized
                                            mud bricks help
                                            reduce cost?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                    <div class="card-body">
                                        Stabilized mud bricks help bring down the overall construction and
                                        maintenance costs of the structure. Using stabilized mud bricks allows one to
                                        do away with external plastering and painting. Moreover, since stabilized
                                        mud bricks can be customized in size, the structure would require lesser
                                        number of bricks, thereby bringing down construction costs. Stabilized mud
                                        bricks also regulate temperature and humidity, thereby reducing electricity
                                        consumed. In fact, the structure ends up using 60% less energy as compared
                                        to standard burnt bricks. Add to that the fact that Good Bricks help you
                                        eliminate inventory as well as specialized labor costs and you have a lucrative
                                        proposition in hand.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingSix">
                                    <h5 class="mb-0">
                                        <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            How are stabilized
                                            mud bricks a more
                                            sustainable
                                            alternative to
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                    <div class="card-body">
                                        Right from its manufacturing to its end application, stabilized mud bricks are
                                        a more sustainable option to traditional burnt bricks. Since, they are not fired
                                        energy and firewood dependency for manufacturing them is low. Owing to
                                        their inherent adaptive insulation properties, buildings made with stabilized
                                        bricks consume less energy, thereby reducing dependence on fossil fuel for
                                        heating and cooling. Their composition consists of at least 10%-20% of
                                        construction and debris waste which would otherwise have ended up in our
                                        already overburdened landfills. Moreover, since there is no requirement of
                                        plastering or painting, the structure uses less harmful chemicals to improve
                                        aesthetic appeal.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingSix">
                                    <h5 class="mb-0">
                                        <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            Why choose
                                            stabilized mud
                                            bricks?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                    <div class="card-body">
                                        The real question is, why not? Compressed stabilized mud bricks are a more
                                        sustainable alternative to regular burnt bricks. Moreover, they offer superior
                                        strength and durability and are versatile enough to be used in any
                                        construction. Good Bricks are tested for strength at an independent lab.To
                                        add to that they offer a unique aesthetic that give your project more
                                        grounded and earthy appeal without the need for harmful and allergy
                                        inducing chemicals like paints and plasters. They are good for you and for the
                                        environment. So, why wouldn't you choose a stabilized mud brick?
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>